* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Reset básico e estilo geral */
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #09090B;  
    color: #FAFAFA;    
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}



nav ul li a {
    color: #FAFAFA;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}

main{
    max-width: 1000px;
    margin: 0 auto;
    
}

 h1{
    font-size: 32px;
    
}

p,h2, img,.redes-sociais,h1{
    margin-left: 28px;
}

img{
    width: 200px;
    height: 150px;
    border-radius: 10px;

}

.logo{
   margin: 0 auto;  
}

.menu-toggle {
    display: none;
    flex-direction:column;
    cursor: pointer;
        
}

.menu-toggle .bar {
    background-color: #FAFAFA;
    height: 3px;
    width: 25px;
    margin: 5px 0;    
}

section{
    margin-top: 30px;
}

/* estilos Especiais Index.html */
.descricao-page{
    margin: 50px auto;
}

.descricao-page h1{
    font-size: 52px;
    margin-bottom: 20px;
}

/* Estilos padrão para os botões */
.redes-sociais {
    display: flex;
    gap: 10px; /* Espaçamento entre os botões */
    align-items: center;   
}

.social-button {
    width: 400px;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;  
    font-style: italic;
    color: #09090B ;
}

/* Estilos padrão para os card */
.card{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    padding: 5px;  
}

.card-1{
    margin: 20px;
}
.container{
    text-align: center;
    padding-top: 10px;
}
.container p{
    text-align: center;
    margin: 0;
    padding-top: 5px;
    color: #27272A;
}
.container a{
    text-decoration: none;
}
.card-1 a img{
    margin: 0;
}

/*Estilo Hover*/
nav ul li a:hover{ /*Hover menu*/
    background-color:#27272A;
    border-radius: 10px;   
}
.logo:hover{ 
    background-color: #09090B;
}
img:hover{
    padding: 2px;
}
.social-button:hover{
    background-color: #FFC83D;
    color: #27272A;
}

 /* Estilos para telas menores */

@media (max-width: 700px) {
    img{
        width: 300px;
        height: 250px;
    }
   /* nav ul { /*Estilos telas menores Menu
        display: none;
        flex-direction: column;
        width: 100%;   
    }*/
    nav ul.active {
        display: flex;
        flex-direction: row;
        justify-content: center;   
    }
    .menu-toggle {
        display: flex;
        margin-left:20px
    }
    /*nav{
        padding: 10px;
        align-items: center;           
    }*/

    nav ul li a{
        color: #FAFAFA;        
    }
    h1,h2,h3,p,h4{
        text-align: center
    }
    .descricao-page h1{
        font-size: 36px;
    }
    img{
        width: 350px;
    }
    .card{
        display: flex;
        justify-content: center;
        background-color: #FFC83D;
    }

    .card-1{
        padding-left: 20px;
    }

    .redes-sociais { /*Estilos telas menores Button*/
        display: flex;
        flex-direction: column; /* Coloca os botões em coluna */
        align-items: center; /* Centraliza os botões horizontalmente */
        gap: 10px; /* Espaçamento entre os botões */
    }
    .social-button{
        display: flex;
        justify-content: center;
        width: 300px;
    }   
}
